/* ----------------Global settings-----------------*/
:root {
  /* -----------------Fonts--------------------  */
  --main-font: "Baloo Bhaijaan 2", Helvetica, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  /* ------------------Colors------------------- */
  --primary: #3fa4dd;
  --primary-hover: #4bbbfc;
  --primary-1: #415e5e;
  --secondary: #58a3ad;
  --secondary-hover: #6ccbd8;
  --secondary-light: #58a3ad49;
  --green: #27ae60;
  --red: #eb5757;
  --warn-black: #212121;
  --gray_1: #dbdbdb;
  --gray_3: #828282;
  --gray_5: #e0e0e0;
  --gray_6: #efefef;
  --black: #000000;
  --white: rgb(255, 255, 255);
  --off-white: #f4f4f4;
  --gray: #bdbdbd;
  --ligt-gray: #e5e7eb;
  --darkgray: #343a40;
  /* ----------------Font Sizes -----------------*/
  --sm: 1.2rem;
  --sd: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --xl: 2rem;
  --xxl: 2.2rem;
  --xs: 2.4rem;
  --xsl: 2.6rem;
  --larger: 2.8rem;
}

/* ----------------Global Styles-----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
html {
  font-family: var(--main-font);
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*---------------- Scrollbar ----------------*/
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-hover);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
